name: Build for Linux x86_64

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler pkg-config libssl-dev cmake

      - name: Build Binary
        run: |
          # 如果 Cargo.toml 不在根目录，请先 cd 进入对应目录
          cargo build --release --locked --verbose --manifest-path 03_full.toml
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64-binary
          # 确认编译出的二进制文件名是否为 braiins-farm-proxy
          path: target/release/braiins-farm-proxy
