name: Build for Linux x86_64

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # 升级到 v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Binary
        run: |
          cargo build --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # 必须升级到 v4
        with:
          name: braiins-proxy-x86-new-${{ github.run_id }} # 名称加 ID 确保唯一
          path: target/release/braiins-farm-proxy
